.tasks-page{
  background: no-repeat center center cover;
  background-size: cover;
  height: 100vh;
  .tasks-container{
    height: 100%;
    padding: 3rem 1rem;
    .tasks-main-section{
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      gap: 1rem;
      flex-wrap: nowrap;
      overflow: auto;
      /* Hide scrollbar for different browsers */
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
      &::-webkit-scrollbar {
        display: none;
      }
      .tasks-card{
        height: fit-content;
        background: #cfc7c7;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        text-transform: capitalize;
        border-radius: 5px;
        .title{
          font-size: 1.4rem;
          font-weight: bold;
          border-bottom: 1px solid #636669;
          margin-bottom: 1rem;
        }
        .grid{
          display: flex;
          flex-direction: column;
          gap: 1rem;
          .container{
            cursor: pointer;
            background: #fff;
            padding: 0.5rem;
            border-radius: 5px;
            min-width: 16rem;
            min-height: 3rem;
            transition: padding 0.3s;
            &:hover {
              padding: 1rem;
            }
            &.new-task {
              min-height: auto;
              background: #0b7ee2;
              color: #fff;
              font-weight: bold;
              font-size: 16px;
            }
          }
        }
      }
      .task-details-form {
        border: 1px solid #0ceda1;
        border-radius: 6px;
        padding: 4px;
        .task-details-btns {
          display: flex;
          justify-content: space-around;
          align-items: center;
          margin: 2rem auto 0.5rem;
          gap: 1rem;
          .btn{
            width: 40%;
          }
        }
      }
    }
  }
}