.modal{
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(16, 16, 16, 0.4);
    .modal-container{
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        .modal-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 2px solid #6c6b6b;
            margin-bottom: 20px;
            header{
                font-size: larger;
                font-weight: bold;
                text-transform: capitalize;
            }
            .close{
                color: #aaaaaa;
                font-size: 28px;
                font-weight: bold;
                &:hover, &:focus{
                    color: #000;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
        }
    }
}

