@font-face {
  font-family: "Roboto";
  src: url("./font/font-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./font/font-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./font/font-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./font/font-Light.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("./font/Nunito-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("./font/Nunito-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("./font/Nunito-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-color: #145996 #afaeae;
  scrollbar-width: 10px;
  scrollbar-width: thin;
  margin: 0;
  padding: 0;
}

:root {
  --blue: #2a2185;
  --white: #fff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
  --yellow: #e0e01c;
  --gray: #653d3d;
  --red: #890909;
  --shadow-color: #364e7e1a;
}

#root {
  position: relative;
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #364a63;
  font-size: 14px;
}

input:focus-visible {
  outline: none;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

.text-primary {
  color: #A31ACB;
}

.main-container {
  width: calc(100% - 200px);
  position: absolute;
  top: 0;
  left: 200px;
  transition: all 0.6s;
}

.main-container.hidden {
  width: 100%;
  left: 0;
  transition: all 0.3s;
}

.main-container.active {
  width: calc(100% - 80px);
  left: 80px;
}

@media only screen and (max-width: 600px) {
  .rnc__notification {
    width: 95vw !important;
  }
}