@font-face {
  font-family: "Roboto";
  src: url("./font/font-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./font/font-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./font/font-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./font/font-Light.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("./font/Nunito-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("./font/Nunito-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("./font/Nunito-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}


body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #364a63;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

input:focus-visible {
  outline: none;
}

.text-primary {
  color: #A31ACB;
}

@media only screen and (max-width: 600px) {
  .rnc__notification {
    width: 95vw !important;
  }
}