.signup-page {
  .form-section {
    margin-top: 16px;
  }
}

.signup-page {
 .form-section {
  .email-component {
    margin-bottom: 24px;
  }
  .name-component{
    margin-bottom: 24px;
  }
  .btn{
    margin: 24px 0px;
  }
 }
}

.signup-page {
  .signup-link {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #086f25;
    margin-top: 16px;
  }
}

.signup-page {
  .bottom-text {
    font-size: 16px;
    text-align: center;
    margin-top: 16px;
    font-weight: bold;
  }
}

.signup-page {
  .bottom-text {
    a {
      text-decoration: none;
      margin-left: 8px;
      color: #086f25;
    }
  }
}