.btn{
    button{
        cursor: pointer;
        width: 100%;
        height: 100%;
        font-family: sans-serif;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 1px;
        padding: 0.8rem 0;
        border: none;
        border-radius: 5px;
        text-transform: capitalize;
        background-color: #efe7e7;
    }
    &.primary{
        button{
            background-color: var(--blue);
            color: #fff;
        }
    }
    &.success{
        button{
            background-color: #FF8B13;
        }
    }
    &.danger{
        button{
            color: #fff;
            background-color: #dc3545;
            border-color: #dc3545;
        }
    }
}