.resetPassword-page{

  .resetPassword-container {  
    width: 700px;
    padding: 40px 30px;
    background: rgb(247 247 247);
    border-radius: 5px;
    box-shadow: 0px 2px 10px #848181;
  }

}

.resetPassword-page{
  .main-title{
    font-size: 26px;
    font-weight: bold;
  }
}

.resetPassword-page{
  .resetPassword-top {
    text-align: center;
    margin-bottom: 16px;
  }
}

@media only screen and (max-width: 700px) {
    .resetPassword-page {
        .resetPassword-container {
          padding: 16px;
          box-shadow: none;
        }
    }
}