.dropdown-component .label {
    color: #000;
    font-weight: bold;
    margin-bottom: 4px;
}

.dropdown-component .dropdown-wrapper select{
    width: 100%;
    height: auto;
    font-size: 16px;
    color: #4e4949;
    padding: 8px;
    border-radius: 5px;
    text-transform: capitalize;
}
