.departments-page{
    width: 100%;
    overflow: hidden;
    .departments-container{
        padding: 20px;
        .main-section{
            width: 100%;
            .filter{
                display: flex;
                justify-content: space-between;
                .btn button{
                    padding: 0px 8px;
                }
                .search {
                    width: 20rem;
                    input{
                       width: 100%;
                       border: 2px solid #dbdfea;
                       border-radius: 5px;
                       height: 28px;
                       font-size: 16px;
                       padding: 16px 0px 16px 16px;
                       &:focus{
                           -webkit-box-shadow: 1px 1px 12px 4px rgba(252,36,252,0.78);
                           -moz-box-shadow: 1px 1px 12px 4px rgba(252,36,252,0.78);
                           box-shadow: 1px 1px 12px 4px rgba(252,36,252,0.78);
                           outline: none;
                       }
                    }
                }
            }
            .cards-container{
                max-width: 1200px;
                margin: 40px auto;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 1rem;
                .custom-card{
                    cursor: pointer;
                    text-decoration: none;
                    display: flex;
                    align-content: center;
                    width: 20rem;
                    padding: 1rem;
                    box-shadow: 0 1px 5px #d9cfcf;
                    &:hover {
                        box-shadow: 0 5px 5px #d9cfcf;
                    }
                    .content{
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        justify-content: center;
                        strong{
                            font-size: larger;
                            color: #000;
                            text-transform: capitalize;
                        }
                    }
                }
            }
            .create-depart.modal .modal-container {
                max-width: 30rem;
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .main-section .search input{
        width: 100%; 
    }       
}