.departments-page{
    
    .departments-container{
        padding: 20px;
        .main-section{
            width: 100%;
            .search input{
                min-width: 600px;
                border: 2px solid #dbdfea;
                border-radius: 5px;
                height: 28px;
                font-size: 16px;
                padding: 16px 0px 16px 16px;
                &:focus{
                    -webkit-box-shadow: 1px 1px 12px 4px rgba(252,36,252,0.78);
                    -moz-box-shadow: 1px 1px 12px 4px rgba(252,36,252,0.78);
                    box-shadow: 1px 1px 12px 4px rgba(252,36,252,0.78);
                    outline: none;
                }
                @media only screen and (max-width: 600px) {

                }
            }
            .cards-container{
                margin-top: 40px;
                display: flex;
                gap: 20px;
                .custom-card{
                    text-decoration: none;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    .content{
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        justify-content: center;
                        strong{
                            font-size: larger;
                            color: #000;
                            text-transform: capitalize;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .main-section .search input{
        min-width: unset;
        width: 100%;
    }                   
}